<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <appSettings>
        <add key="company" value="Elders"/>
        <add key="product" value="Hermes"/>
        <add key="project-dir" value="D:\Projects\OSS\Elders\Hermes\"/>
        <add key="solution-file" value="Elders.Hermes.sln"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>

</configuration>
